<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="16DTHNhauOnlineConnectionString" connectionString="workstation id=e20vthieu.mssql.somee.com;packet size=4096;user id=e20vth_SQLLogin_1;pwd=q9p52l1oxi;data source=e20vthieu.mssql.somee.com;persist security info=False;initial catalog=e20vthieu;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="16DTHNhauOnlineConnectionString2" connectionString="workstation id=e20vthieu.mssql.somee.com;packet size=4096;user id=e20vth_SQLLogin_1;pwd=q9p52l1oxi;data source=e20vthieu.mssql.somee.com;persist security info=False;initial catalog=e20vthieu;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="d16thn2nhauonlineConnectionString" connectionString="workstation id=e20vthieu.mssql.somee.com;packet size=4096;user id=e20vth_SQLLogin_1;pwd=q9p52l1oxi;data source=e20vthieu.mssql.somee.com;persist security info=False;initial catalog=e20vthieu;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <!--<add name="16DTHNhauOnlineConnectionString" connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=123NhauOnline;Data Source=."
            providerName="System.Data.SqlClient" />
        <add name="16DTHNhauOnlineConnectionString2" connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=123NhauOnline;Data Source=."
            providerName="System.Data.SqlClient" />
        <add name="d16thn2nhauonlineConnectionString" connectionString="Data Source=.;Initial Catalog=123NhauOnline;Persist Security Info=True;User ID=sa;Password=cntt"
            providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0"/>
    <customErrors mode="Off" defaultRedirect="Homepage.aspx"/>
    <pages validateRequest="false"/>
    <globalization fileEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Homepage.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>